<header>
  <img src="{{ '/images/purple.svg' | relative_url }}" alt="Logo" height="80px" />
</header>

<nav>
  <ul>
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
    <img src="{{ '/images/green.svg' | relative_url }}" alt="green" height="50px" />
  </ul>
  <ul class="hlist">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/podcasts' | relative_url }}">Podcasts</a></li>
    <li><a href="{{ '/speaking' | relative_url }}">Speaking</a></li>
    <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
    <li><a href="{{ '/baking' | relative_url }}">Baking</a></li>
    <li><a href="{{ '/contact' | relative_url }}">Contact Me</a></li>
  </ul>
</nav>
